
pytest==5.3.2
PyYAML~=5.1
trafaret~=2.0.2
# gstreamer-python @ git+https://github.com/jackersson/gstreamer-python.git#egg=gstreamer-python
gstreamer-python @ git+https://github.com/johnnewto/gstreamer-python.git#egg=gstreamer-python
# small_object_detector @ git+file:///home/$USER/PycharmProjects/SmallObjDetector#egg=small_object_detector
small_object_detector @ https://github.com/johnnewto/SmallObjDetector#egg=small_object_detector
imutils
ipyfilechooser==0.6.0
# ipython
keyboard==0.13.5
matplotlib
# moviepy
numpy
opencv-python==4.7.0.72
# Pillow
PyTurboJPEG==1.7.3
scipy
scikit-image